<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h4>About</h4>
      <ul>
        <li><a href="#">How Airbnb works</a></li>
        <li><a href="#">Newsroom</a></li>
        <li><a href="#">Investors</a></li>
        <li><a href="#">Airbnb Plus</a></li>
        <li><a href="#">Airbnb Luxe</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Community</h4>
      <ul>
        <li><a href="#">Diversity & Belonging</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a href="#">Guest Referrals</a></li>
        <li><a href="#">Gift cards</a></li>
        <li><a href="#">Airbnb.org</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Host</h4>
      <ul>
        <li><a href="#">Host your home</a></li>
        <li><a href="#">Host an experience</a></li>
        <li><a href="#">Responsible hosting</a></li>
        <li><a href="#">Community forum</a></li>
        <li><a href="#">Resource Center</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Support</h4>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Safety information</a></li>
        <li><a href="#">Cancellation options</a></li>
        <li><a href="#">Report a neighborhood concern</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 TravelNest</p>
    <div class="social-icons">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</footer>
